/* 
    Created on : 12-Sep-2015, 12-Sep-2015 11:03:37 AM
    Author     : Rene Ramirez
*/
@import "../libs/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "logintofrench/variables";

html, body{
  color: #333;
  font-family: "Roboto",  "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*TEXT*/
.logintofrench-text-seconday{
  color: $logintofrench-color-secondary;
}
.carousel-indicators{
  position: relative;
  left: 0;
  z-index: 15;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0px;
  li {
    border: 1px solid $logintofrench-color-primary;
    &.active {
      background-color: $logintofrench-color-primary;;
    }
  }
}

.panel{
  border-radius: 0px;
  &.lessons{
    background-color: $logintofrench-color-primary;
    border-color: lighten($logintofrench-color-primary,10);
    color: white;
    h4{
      margin-top: 0px;
      margin-bottom: 0px;
    }
    hr{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .view-more{

      .h4,h5{
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      h5{
        margin-left: 5px;
      }
      &:hover{
        font-weight: bold !important;
        cursor: pointer;
      }
    }
  }
  &.details{
    .panel-body{
      padding: 0;
    img{
      width: 100%;
    }
    }
  }
}

body > header {

  .logintofrench-navbar-default{
    background: rgba(255,255,255,0.6);
    border:none;
  }
  #logo{
    padding-top: 0;
    img{
      height: 80px;
    }
  }
  .navbar-toggle.collapsed{
    margin-top: 24.5px;
    margin-bottom: 24.5px;
  }
  #logintofrench-menu{
    border-top: none;
    .navbar-nav{
      /*background: rgba(255,255,255,0.4);*/
    }
    a {
      color: $logintofrench-color-primary;
      margin: 18.5px 5px;
      padding: 12.5px 5px;
      border: 1px transparent solid;
      border-radius: 5px;
      &:hover{
        border: 1px $logintofrench-color-primary solid;
      }
      &.active{
        &:hover{
          border: 1px lighten($logintofrench-color-primary,15) solid;
          background-color: lighten($logintofrench-color-primary,15);
        }
        background-color: $logintofrench-color-primary;
        color: white;
        border: 1px $logintofrench-color-primary solid;
      }
      &.social{
        margin: 17.5px 1px;
        padding: 12.5px 1px;
        padding-top: 10px;
        padding-bottom: 0px;
        &:hover{
          border: 1px transparent solid;
          color: lighten($logintofrench-color-primary,15);
        }
      }
    }
    li.social{
      a.social:first-child {
        padding-left: 9px;
      }
    }

  }

}

body > header + section{
  margin-top: 30px;
}


