<div class="container padding-top-bottom">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2>Meet Laura </h2>
        <p>
          For over eighteen years, I have been dedicated my studies to the 
          French tradition and education system. My French studies began when I 
          was three, at the Liceo Frances Louis Pasteur in Bogota. Since then, 
          I have obtained a great deal of experience teaching French to both 
          children and adults, including home tutoring children from bilingual 
          schools, and teaching adults who were preparing to travel to Canada 
          and France. Five years ago, I began my career as a private French 
          tutor.
        </p>
        <p>
          If you have a desire to learn French, I can go to your home, give you 
          classes via skype or you can come to North Miami beach. With me you 
          can learn or improve your French. As a translator I have being working
          for the World Social Forum, Foro de las Americas, la Alcaldía de 
          Bogota and Mijarc.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img src="/img/laura.jpg" alt="Meet Laura" style="width: 100%;" />
    </div>
  </div>  
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <h2>Testimonials</h2>
    </div>  
  </div>  
  <div class="row">
    <div class="col-md-4">
      <div class="well well-sm text-justify"> 
        <div>
          After taking French lessons, both in the US and France, I’ve found that Laura’s attitude and method are refreshing and fun. Lots of conversation and, at the same time, grammar and vocabulary. She is easy going and very knowledgeable. I definitely recommend her. I notice my improvement every time I speak or read. 
        </div>
        <div class="text-right">
          <span class="label label-info"> Sandra Tartonne, Miami FL </span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well well-sm text-justify"> 
        <div>
          I highly recommend Laura for French tutoring. She is passionate about teaching, and has an approach that has increased my fluency in French. She has the skillfulness to choose interesting topics to discuss while she provides a solid structure to my French. Her pricing is very competitive and her flexibility really helpful. 
        </div>
        <div class="text-right">
          <span class="label label-info"> Adrian Lechter, Miami FL </span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well well-sm text-justify"> 
        <div>
          Gracias a Laura, hoy puedo decir que vivo en Montréal, sus clases son muy dinámicas y tiene una técnica muy buena para adquirir mucha fluidez, es una profesora muy enérgica y con mucho conocimiento de francés y el proceso de inmigración a Québec.
        </div>
        <br>
        <div class="text-right">
          <span class="label label-info">  Clara Rendón. Montréal</span>
        </div>
      </div>
    </div>
  </div>
</div>  
</div>