{% extends 'MainPageFrontendBundle:Default:base.html.twig' %}


{% block body %}
  
  <div class="border-decoration" style="height: 350px;">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div class="">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="position: relative;">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="#AventuraMiami" onclick="changeMap(1);">Aventura Miami</a></li>
          <li><a href="#SunnyIslesMiami" onclick="changeMap(2);">Sunny Isles Miami</a></li>
          <li><a href="#SurfsideMiami" onclick="changeMap(3);">Surfside Miami</a></li>
          <li><a href="#BalHarbourMiami" onclick="changeMap(4);">Bal Harbour Miami</a></li>
          <li><a href="#NorthMiamiBeach" onclick="changeMap(5);">North Miami Beach</a></li>
          <li><a href="#Bogota" onclick="changeMap(6);">Bogota</a></li>
          <li><a href="#ViewAll" onclick="changeMap(7);">View all map</a></li>
        </ul>
      </div>
    </nav>
  </div>
{% endblock body %}

{% block javascripts %}
  {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script type="text/javascript">
    var map;
    var markerMiamiAventura = null;
    var markerMiamiSunny = null;
    var markerMiamiSurfside = null;
    var markerMiamiBalHarbour = null;
    var markerMiamiNorthBeach = null;
    var markerBogota = null;

    $(function () {
      /*MAPA*/
      function initialize() {
        var mapOptions = {
          zoom: 4,
          mapTypeControl: false,
          disableDoubleClickZoom: true,
          disableDefaultUI: false,
          zoomControl: false,
          keyboardShortcuts: false,
          scrollwheel: false,
          draggable: false,
          center: new google.maps.LatLng('18.957478', '-80.142573'),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
        addMarkers();
      }

      google.maps.event.addDomListener(window, 'load', initialize);


    });
    function addMarkers() {
      markerMiamiAventura = setMarker(25.957478, -80.142573);
      markerMiamiSunny = setMarker(25.942807, -80.122964);
      markerMiamiSurfside = setMarker(25.879265, -80.125474);
      markerMiamiBalHarbour = setMarker(25.891971, -80.126678);
      markerMiamiNorthBeach = setMarker(25.950959, -80.192534);
      markerBogota = setMarker(4.702185, -74.028805);
    }
    function setMarker(k, j) {
      return new google.maps.Marker({
        map: map,
        animation: google.maps.Animation.DROP,
        position: new google.maps.LatLng(k, j)
      });
    }
    function changeMap(address) {
      switch (address) {
        case 1:
          map.setZoom(14);
          map.setCenter(markerMiamiAventura.getPosition());
          markerMiamiAventura.setMap(null);
          markerMiamiAventura = setMarker(25.957478, -80.142573);
          break;
        case 2:
          map.setZoom(14);
          map.setCenter(markerMiamiSunny.getPosition());
          markerMiamiSunny.setMap(null);
          markerMiamiSunny = setMarker(25.942807, -80.122964);
          break;
        case 3:
          map.setZoom(14);
          map.setCenter(markerMiamiSurfside.getPosition());
          markerMiamiSurfside.setMap(null);
          markerMiamiSurfside = setMarker(25.879265, -80.125474);
          break;
        case 4:
          map.setZoom(14);
          map.setCenter(markerMiamiBalHarbour.getPosition());
          markerMiamiBalHarbour.setMap(null);
          markerMiamiBalHarbour = setMarker(25.891971, -80.126678);
          break;
        case 5:
          map.setZoom(14);
          map.setCenter(markerMiamiNorthBeach.getPosition());
          markerMiamiNorthBeach.setMap(null);
          markerMiamiNorthBeach = setMarker(25.950959, -80.192534);
          break;
        case 6:
          map.setZoom(14);
          map.setCenter(markerBogota.getPosition());
          markerBogota.setMap(null);
          markerBogota = setMarker(4.702185, -74.028805);
          break;
        default:
          map.setZoom(4);
          map.setCenter(new google.maps.LatLng('18.957478', '-80.142573'));
          break;
      }
    }

    function removeMarkers() {
      removeMarkerWithAnimation(markerMiamiAventura);
      removeMarkerWithAnimation(markerMiamiSunny);
      removeMarkerWithAnimation(markerMiamiSurfside);
      removeMarkerWithAnimation(markerMiamiBalHarbour);
      removeMarkerWithAnimation(markerMiamiNorthBeach);
      removeMarkerWithAnimation(markerBogota);
    }

    function removeMarkerWithAnimation(marker) {
      (function animationStep() {
        var newPosition = map.getProjection().fromLatLngToPoint(marker.getPosition());
        newPosition.y -= 10 / (1 << map.getZoom());
        newPosition = map.getProjection().fromPointToLatLng(newPosition);
        marker.setPosition(newPosition);
        if (map.getBounds().getNorthEast().lat() < newPosition.lat()) {
          marker.setMap(null);
        } else {
          setTimeout(animationStep, 10);
        }
      })();
    }



    $(document).on('submit', 'form#form-contact-us', function (event) {
      event.preventDefault();
      $(this).find('input').attr('readonly', '');
      $(this).find('textarea').attr('readonly', '');

      var data = $(this).serializeArray();
      if ($("#french_save").attr('clicked') == 1) {
        var aux = {
          name: 'french[save]',
          value: 1
        };
        data.push(aux);
        $.ajax({
          url: $(this).attr('action'),
          type: 'POST',
          data: data,
          success: function (data) {
            $('form#form-contact-us').html('{% include "MainPageFrontendBundle:Helper:sent_successfully.html.twig" %}');
          },
          error: function () {
            alert('ERROR');
          }
        });

      }
    });

  </script>
{% endblock  %}