{% extends 'MainPageFrontendBundle:Default:base.html.twig' %}


{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>I offer Different Types of French Lessons & Tutoring</h2>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <h3>Private Lessons</h3>
        <p>$50 per hour going to your house or office. ($ 350  10 hours/month)</p>
        <p>$35 per hour if you come to my place in North Miami Beach.($ 250 10 hours/month)</p>
      </div>
    </div>  
    <hr/>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <h3>Groups</h3>
        <p>$ 30 per person for one hour going to your house or office or:</p>
        <ul>
          <li>(group of 2 persons $400  10 hours/month)</li>
          <li>(group of 3 persons $450  10 hours/month)</li>
          <li>(group of 4 persons $500  10 hours/month)</li>
        </ul>
        <p>$25 per person for one hour if you come to my place in North Miami Beach:</p>
        <ul>
          <li>(group of 2 persons $300  10 hours/month)</li>
          <li>(group of 3 persons $350  10 hours/month)</li>
          <li>(group of 4 persons $400  10 hours/month)</li>
        </ul>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <h3>Private Lessons</h3>
        <p>$50 per hour going to your house or office. ($ 350 10 hours/month)</p>
        <p>$35 per hour if you come to my place in North Miami Beach. ($ 250 10 hours/month)</p>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <h3>Skype</h3>
        <p>$35 per hour.($ 250 10 hours/month)</p>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <h3>Translations</h3>
        <p>We are ready to provide our best services in:</p>
        <ul>
          <li>Spanish >  French </li>
          <li>French > Spanish </li>
          <li>Italian > French</li>
          <li>French > Italian</li>
          <li>Portuguese > Spanish</li>
          <li>Spanish > Portuguese</li>
          <li>French > English</li>
          <li>English > French</li>
          <li>English > Portuguese</li>
          <li>Portuguese > English </li>
          <li>And more....</li>
        </ul>
      </div>
    </div>
    <hr/>
  </div>
{% endblock body %}