{% extends 'MainPageFrontendBundle:Default:base.html.twig' %}


{% block body %}
  <div class="container padding-top-bottom">
    <h2>Online Courses </h2>
    <div class="row">
    </div>  
  </div>  
{% endblock body %}