/* 
    Created on : 15-Jul-2015, 8:54:37 PM
    Author     : Rene Roberto Ramirez Szabo <rene.szabo@gmail.com>
*/
$logintofrench-color-primary: #333366;    //Blue
$logintofrench-color-secondary: #E52D3B;  //Red
$logintofrench-color-tertiary: #ffcc00;    //Yellow
