{% extends 'FrontendBundle:Default:base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <style type=text/css>
    body{
      background: url(/img/backgound-002.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>
{% endblock stylesheets %}
{% block body %}
  {{ include('FrontendBundle:Default:header.html.twig') }}
  <div class="container">
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
  </script>
{% endblock javascripts %}