<!DOCTYPE html>
<html lang="en">
  <head>
    {{ include('meta.html.twig') }}
    <title>{% block title %}{% endblock %}Login to French</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400italic,100,700italic,700,100italic,400' rel='stylesheet' type='text/css'>
    {% block stylesheets %}
      {{ include('css.html.twig') }}
    {% endblock %} 
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
  {% block body %}{% endblock %}
  {% block javascripts %}
    {{ include('javascripts.html.twig') }}
    {{ include('analytics.html.twig') }}
  {% endblock %}
</body>
</html> 